.login-card {
  width: 100%;
  max-width: 500px;
  padding: 50px 20px;
  margin: 10vh auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.login-card h2 {
  font-size: 4rem;
  margin-bottom: 20px;
  background-color: none;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  outline: none;
  transition: border 0.2s;
}

.login-card input:focus {
  border-color: #4285f4;
}

.login-card button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s;
}

.login-card button:hover {
  background-color: #4285f4;
  color: white;
}

.password-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 2px 0;
}

.password-container input {
  flex: 1;
  margin-right: 10px;
}

.password-container button {
  padding: 10px 15px;
  font-size: 1rem;
}

.password-container input:focus {
  outline: none;
  border: 1px solid #007bff;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .login-card {
    margin: 5vh auto;
  }

  .login-card h2 {
    font-size: 3rem;
  }

  .login-card input,
  .login-card button {
    font-size: 1rem;
  }
}
